<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>689957592733-brc0e2od58t3ikkcl2c1q2jpaklib923.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689957592733-brc0e2od58t3ikkcl2c1q2jpaklib923</string>
	<key>API_KEY</key>
	<string>AIzaSyCQcAZkK-ehWimtriLnmVJkabJ6XxbQu_0</string>
	<key>GCM_SENDER_ID</key>
	<string>689957592733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abb.Spatium</string>
	<key>PROJECT_ID</key>
	<string>spatium-10bd6</string>
	<key>STORAGE_BUCKET</key>
	<string>spatium-10bd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:689957592733:ios:86481ce37fb8335a</string>
	<key>DATABASE_URL</key>
	<string>https://spatium-10bd6.firebaseio.com</string>
</dict>
</plist>